
Estilizar a cor de fundo do seu site como o css
body{
background-color:greenyellow;
}

Estilizar o título principal do seu site
 h1{
color:red ;
font-family: ;
background:blue ;
}

Estilizar os parágrafos
p{
color:black ;
font-family: ;
font-size: ;
background: ;
}